templates/_includes/_matrix-includes/_board-swiperTest.jade
.board-swiper-cont
    .swiper-container.gallery-top
        .swiper-wrapper
            .swiper-slide(style='background-image:url(./images/nature-1.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-2.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-3.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-4.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-5.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-6.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-7.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-8.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-9.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-10.jpg)')
        // Add Arrows
        .swiper-button-next.swiper-button-white
        .swiper-button-prev.swiper-button-white
    .swiper-container.gallery-thumbs
        .swiper-wrapper
            .swiper-slide(style='background-image:url(./images/nature-1.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-2.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-3.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-4.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-5.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-6.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-7.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-8.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-9.jpg)')
            .swiper-slide(style='background-image:url(./images/nature-10.jpg)')

templates/_includes/_matrix-includes/_board-swiperTest.html
<div class="board-swiper-cont"><div class="swiper-container gallery-top"><div class="swiper-wrapper"><div style="background-image:url(./images/nature-1.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-2.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-3.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-4.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-5.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-6.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-7.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-8.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-9.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-10.jpg)" class="swiper-slide"></div></div><!-- Add Arrows--><div class="swiper-button-next swiper-button-white"></div><div class="swiper-button-prev swiper-button-white"></div></div><div class="swiper-container gallery-thumbs"><div class="swiper-wrapper"><div style="background-image:url(./images/nature-1.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-2.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-3.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-4.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-5.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-6.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-7.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-8.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-9.jpg)" class="swiper-slide"></div><div style="background-image:url(./images/nature-10.jpg)" class="swiper-slide"></div></div></div></div>
