templates/_includes/_matrix-includes/_contact-block.html
<section><div class="u-max-l"><div class="u-padding-left-xs u-padding-right-xs u-relative u-margin-top-l"><div class="u-max-m u-margin-remove-right"><h2 class="mainHeading">{{ block.heading | default('Register your interest in our event')}}</h2><div class="row u-padding-top-m u-padding-bottom-m"><div class="col col--2-of-6"><div class="contact-info"><p>  Feel free to call us</p><a href="tel:{{ contact.telephone }}">{{ contact.telephone }}</a></div><div class="contact-info"><p>  Or you can email us</p><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></div><div class="contact-info"><p>  Or you can find us on social</p><div class="row social-row">{% if contact.facebook | length %}<div class="col col--1-of-3"><a href="{{contact.facebook}}" target="_blank"><img data-src="{{ siteUrl }}build/images/fb-icon-black.svg" alt="Facebook" class="lazy"/></a></div>{% endif %}
{% if contact.instagram | length %}<div class="col col--1-of-3"><a href="{{contact.instagram}}" target="_blank"> <img data-src="{{ siteUrl }}build/images/insta-icon-black.svg" alt="Instagram" class="lazy"/></a></div>{% endif %}
{% if contact.twitter | length %}<div class="col col--1-of-3"><a href="{{contact.twitter}}" target="_blank"><img data-src="{{ siteUrl }}build/images/twitter-icon-black.svg" alt="Twitter" class="lazy"/></a></div>{% endif %}</div></div></div><div class="col col--4-of-6"><form method="post" action="" accept-charset="UTF-8" enctype="multipart/form-data" class="contact-form">{{ csrfInput() }}<input type="hidden" name="subject" id="subject" value="Website contact form enquiry"/><input type="hidden" name="action" value="contact-form-sent"/><input name="bear" type="text" placeholder="Kittens" tabindex="-1"/>{{ redirectInput( siteUrl ~ 'contact-complete' ) }}  <div class="row"> <div class="col col--2-of-2 u-margin-medium-top"> <input-field placeholder="Full name" label="What is your name?" name="fromName" type="text" required="required">                                   </input-field></div><div class="col col--2-of-2 u-margin-medium-top">  <email-field placeholder="Email address" label="How can we contact you?" name="fromEmail" required="required"></email-field></div><div class="col col--2-of-2 u-margin-medium-top">                                       <input-field placeholder="Who do you work for?" label="Almost done" name="message[company][]" type="text" required="required">                                 </input-field></div><div class="col col--2-of-2 u-margin-medium-top"> 
{% set allCourses = craft.entries.section('bookACourse').orderBy('title').all() %}<select-field id="courseInterest" v-bind:options="['option 1','option 2']" placeholder="Attendee status" label="Lastly, what is your" name="message[attendeeStatus][]" required="required"></select-field></div><div class="col col--2-of-2 u-margin-medium-top"><text-area placeholder="Write your message here" id="message" label="How can we help?" name="message[message][]" type="text" required="required"></text-area></div><div class="col col--1-of-3 u-margin-medium-top u-padding-bottom-l"><input type="submit" value="Submit" class="button button__tertiary"/></div></div></form></div></div></div></div></div></section>

templates/_includes/_matrix-includes/_contact-block.jade
section
    .u-max-l
        .u-padding-left-xs.u-padding-right-xs.u-relative.u-margin-top-l
            .u-max-m.u-margin-remove-right
                

                h2.mainHeading {{ block.heading | default('Register your interest in our event')}}
        
            
                .row.u-padding-top-m.u-padding-bottom-m
                    .col.col--2-of-6
                        .contact-info
                            p   Feel free to call us
                            a(href="tel:{{ contact.telephone }}") {{ contact.telephone }}
                        .contact-info
                            p   Or you can email us
                            a(href="mailto:{{ contact.email }}") {{ contact.email }}
                        .contact-info
                            p   Or you can find us on social
                            .row.social-row
                                | {% if contact.facebook | length %}
                                .col.col--1-of-3
                                    a(href="{{contact.facebook}}" target="_blank")
                                        img(data-src="{{ siteUrl }}build/images/fb-icon-black.svg", alt="Facebook").lazy
                                | {% endif %}
                                | {% if contact.instagram | length %}
                                .col.col--1-of-3
                                    a(href="{{contact.instagram}}" target="_blank") 
                                        img(data-src="{{ siteUrl }}build/images/insta-icon-black.svg", alt="Instagram").lazy
                                | {% endif %}
                                | {% if contact.twitter | length %}
                                .col.col--1-of-3
                                    a(href="{{contact.twitter}}" target="_blank")
                                        img(data-src="{{ siteUrl }}build/images/twitter-icon-black.svg", alt="Twitter").lazy
                                | {% endif %}
                    .col.col--4-of-6
                        form.contact-form(method='post', action='', accept-charset='UTF-8' enctype="multipart/form-data")
                            | {{ csrfInput() }}
                        
                            input(type="hidden" name="subject" id="subject" value="Website contact form enquiry")
                            input(type='hidden', name='action', value='contact-form-sent')
                            input(name="bear" type="text" placeholder="Kittens" tabindex="-1")                       
                            | {{ redirectInput( siteUrl ~ 'contact-complete' ) }}  
                            .row 
                                    .col.col--2-of-2.u-margin-medium-top 
                                        
                                        //- Options must be passed as an array
                                        input-field(placeholder="Full name" label="What is your name?" name="fromName" type="text" required=true)                                    
                                    .col.col--2-of-2.u-margin-medium-top   
                                        email-field(placeholder="Email address" label="How can we contact you?" name="fromEmail" required=true)
                                    .col.col--2-of-2.u-margin-medium-top                                        
                                        input-field(placeholder="Who do you work for?" label="Almost done" name="message[company][]" type="text" required=true)                                  
                                    .col.col--2-of-2.u-margin-medium-top 
                                       
                                        | {% set allCourses = craft.entries.section('bookACourse').orderBy('title').all() %}
                                        
                                        //- select-field(id="courseInterest" v-bind:options="['option a', 'option b']" placeholder="Please select a course" label="What course are you interested in?" name="message[courseInterest][]" required=true)
                                        //- This one specifically passes all options for the select as the names of courses
                                        select-field(id="courseInterest" v-bind:options="['option 1','option 2']" placeholder="Attendee status" label="Lastly, what is your" name="message[attendeeStatus][]" required=true)
                                        //- select-field(id="courseInterest" v-bind:options="[{% for courseTitle in allCourses %}'{{courseTitle.title}}'{% if not loop.last%}, {% endif %}{% endfor%}]" placeholder="Please select a course" label="What course are you interested in?" name="message[courseInterest][]" required=true)
                                    .col.col--2-of-2.u-margin-medium-top
                                        
                                        text-area(placeholder="Write your message here" id="message" label="How can we help?" name="message[message][]" type="text" required=true)
                                    //- .col.col--2-of-2(data-aos="fade")   
                                        
                                    //-     file-upload(id="attachment", label="Add your CV", required=false)
                                    .col.col--1-of-3.u-margin-medium-top.u-padding-bottom-l
                                        input.button.button__tertiary(type='submit', value='Submit')
