templates/_includes/_matrix-includes/_donate.jade
section.donate-cont.u-relative
    img.donate-curve.u-abs(src="{{siteUrl}}build/images/donate-curve.svg", alt="donate-curve")
    .u-max-l.u-padding-top-l.u-padding-bottom-l
        .u-padding-left-xs.u-padding-right-xs.u-relative            
            .u-max-m.u-margin-remove-right 
                .row.u-rel
                    .col.col--2-of-3
                        | {% if pC.heading | length %}
                        .donate-heading.large-heading.u-padding-bottom-s(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700")
                            p {{pC.heading}}
                        | {% endif %}
                        | {% if pC.donateLink | length %}
                        .u-padding-bottom-s
                        a(href="{{pC.donateLink}}").button.donate-button.button__secondary(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700")
                            .text Donate now
                        | {% endif %}
                    .col.col--1-of-3  

templates/_includes/_matrix-includes/_donate.html
<section class="donate-cont u-relative"><img src="{{siteUrl}}build/images/donate-curve.svg" alt="donate-curve" class="donate-curve u-abs"/><div class="u-max-l u-padding-top-l u-padding-bottom-l"><div class="u-padding-left-xs u-padding-right-xs u-relative">           <div class="u-max-m u-margin-remove-right"> <div class="row u-rel"><div class="col col--2-of-3">{% if pC.heading | length %}<div data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700" class="donate-heading large-heading u-padding-bottom-s"><p>{{pC.heading}}</p></div>{% endif %}
{% if pC.donateLink | length %}<div class="u-padding-bottom-s"></div><a href="{{pC.donateLink}}" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700" class="button donate-button button__secondary"><div class="text">Donate now</div></a>{% endif %}</div><div class="col col--1-of-3"> </div></div></div></div></div></section>
