templates/_includes/_matrix-includes/_insight-block-with-list.jade
section(class="{% if pC.backgroundColor == 'cream' %} cream-bg {% endif %}").insight-block
    .u-max-l.u-padding-top-l.u-padding-bottom-l.mob-small-pad
        //- Aligning mid width but slightly right aligned
        .u-padding-left-xs.u-padding-right-xs.u-relative            
            .u-max-m.u-margin-remove-right
                .row.u-rel
                    .col(class="{% if pC.noSideImage %} col--10-of-12 {% else %} col--2-of-3 {% endif %}").pad-full
                        | {% if pC.subHeading | length %}
                        .font-medium.bold-lilac.u-padding-bottom-s(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700")
                            | {{ pC.subHeading }}
                        | {% endif %}

                        | {% if pC.heading | length %}
                        .font-larger.u-padding-bottom-s(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700")
                            | {{pC.heading}}
                        | {% endif %}

                        | {% set showColumns = false %}
                        | {% if pC.columnOne[0].heading | length or pC.columnOne[0].insight[0].insight | length %}
                        
                        | {% set showColumns = true %}
                        | {% endif %}

                        | {% if pC.columnTwo[0].heading | length or pC.columnOne[0].insight[0].insight | length %}
                        | {% set showColumns = true %}
                        | {% endif %}
                        
                        | {% if pC.columnThree[0].heading | length or pC.columnThree[0].insight[0].insight | length %}
                        | {% set showColumns = true %}
                        | {% endif %}
                        
                        
                        | {% if showColumns == 'true' %}
                        .row(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700")
                            .col.col--3-of-3
                                .row.break-late
                                    | {% if pC.columnOne | length %}
                                    | {% for block in pC.columnOne.all() %}
                                    .col.col--1-of-3
                                        | {% if block.heading | length %}
                                        .font-medium.bold-lilac 
                                            | {% if block.linkPage.getUrl() | length %}
                                            strong <a href="{{block.linkPage.getUrl()}}">{{block.heading}}</a>
                                            | {% else %}
                                            strong {{block.heading}}
                                            {% endif %}
                                        | {% endif %}
                                        | {% if block.insight | length %}
                                        | {% for eachInsight in block.insight %}
                                        p {{eachInsight.insight }}
                                        | {% endfor %}
                                        | {% endif %}
                                    | {% endfor %}
                                    | {% endif %}
                                    | {% if pC.columnTwo | length %}
                                    | {% for block in pC.columnTwo.all() %}
                                    .col.col--1-of-3
                                        | {% if block.heading | length %}
                                        .font-medium.bold-green 
                  
                                            | {% if block.linkPage.getUrl() | length %}
                                            strong <a href="{{block.linkPage.getUrl()}}">{{block.heading}}</a>
                                            | {% else %}
                                            strong {{block.heading}}
                                            {% endif %}
                                        | {% endif %}
                                        | {% if block.insight | length %}
                                        | {% for eachInsight in block.insight %}
                                        p {{eachInsight.insight }}
                                        | {% endfor %}
                                        | {% endif %}
                                    | {% endfor %}
                                    | {% endif %}
                                    | {% if pC.columnThree | length %}
                                    | {% for block in pC.columnThree.all() %}
                                    .col.col--1-of-3
                                        | {% if block.heading | length %}
                                        .font-medium.bold-yellow 
                                            | {% if block.linkPage.getUrl() | length %}
                                            strong <a href="{{block.linkPage.getUrl()}}">{{block.heading}}</a>
                                            | {% else %}
                                            strong {{block.heading}}
                                            {% endif %}
                                        | {% endif %}
                                        | {% if block.insight | length %}
                                        | {% for eachInsight in block.insight %}
                                        p {{eachInsight.insight }}
                                        | {% endfor %}
                                        | {% endif %}
                                    | {% endfor %}
                                    | {% endif %}
                            .col.col--1-of-3
                                
                        | {% endif %}
                        | {% if pC.columnHalfLeft| length or pC.columnHalfRight %}
                        .row(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700")
                            .col.col--10-of-12
                                .row.break-late(class="{% if entry.slug == 'philanthropy' %}break-early{% elseif entry.slug == 'insight' %}break-early{% elseif entry.slug == 'policy' %}break-early{% endif %}")
                                    | {% if pC.columnHalfLeft| length %}
                                    .col.col--6-of-12
                                        p {{pC.columnHalfLeft }}
                                    | {% endif %}
                                    //- .col.col--1-of-12
                                    | {% if pC.columnHalfRight| length %}
                                    .col.col--6-of-12
                                        p {{pC.columnHalfRight }}
                                    | {% endif %}
                                    | {% if pC.pledgeButton.getUrl | length %}
                                    a(href="{{pC.pledgeButton.getUrl}}")
                                        button.button.pledge-button
                                            .text
                                                | {{pC.pledgeButton.customText() | default('Submit yout pledge')}}
                                    | {% endif %}
                        | {% endif %}
                    | {% if pC.noSideImage == '0' %} 
                    .col.col--1-of-3
                        .threeColorVenn.lazy.u-background(data-bg="url({{siteUrl}}build/images/three-color-venn.svg)")
                    | {% endif %}

templates/_includes/_matrix-includes/_insight-block-with-list.html
<section class="{% if pC.backgroundColor == 'cream' %} cream-bg {% endif %} insight-block"><div class="u-max-l u-padding-top-l u-padding-bottom-l mob-small-pad"><div class="u-padding-left-xs u-padding-right-xs u-relative">           <div class="u-max-m u-margin-remove-right"><div class="row u-rel"><div class="col {% if pC.noSideImage %} col--10-of-12 {% else %} col--2-of-3 {% endif %} pad-full">{% if pC.subHeading | length %}<div data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700" class="font-medium bold-lilac u-padding-bottom-s">{{ pC.subHeading }}</div>{% endif %}
{% if pC.heading | length %}<div data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700" class="font-larger u-padding-bottom-s">{{pC.heading}}</div>{% endif %}
{% set showColumns = false %}
{% if pC.columnOne[0].heading | length or pC.columnOne[0].insight[0].insight | length %}
{% set showColumns = true %}
{% endif %}
{% if pC.columnTwo[0].heading | length or pC.columnOne[0].insight[0].insight | length %}
{% set showColumns = true %}
{% endif %}
{% if pC.columnThree[0].heading | length or pC.columnThree[0].insight[0].insight | length %}
{% set showColumns = true %}
{% endif %}
{% if showColumns == 'true' %}<div data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700" class="row"><div class="col col--3-of-3"><div class="row break-late">{% if pC.columnOne | length %}
{% for block in pC.columnOne.all() %}<div class="col col--1-of-3">{% if block.heading | length %}<div class="font-medium bold-lilac"> 
{% if block.linkPage.getUrl() | length %}<strong><a href="{{block.linkPage.getUrl()}}">{{block.heading}}</a></strong>{% else %}<strong>{{block.heading}}</strong>{% endif %}</div>{% endif %}
{% if block.insight | length %}
{% for eachInsight in block.insight %}<p>{{eachInsight.insight }}</p>{% endfor %}
{% endif %}</div>{% endfor %}
{% endif %}
{% if pC.columnTwo | length %}
{% for block in pC.columnTwo.all() %}<div class="col col--1-of-3">{% if block.heading | length %}<div class="font-medium bold-green"> 
{% if block.linkPage.getUrl() | length %}<strong><a href="{{block.linkPage.getUrl()}}">{{block.heading}}</a></strong>{% else %}<strong>{{block.heading}}</strong>{% endif %}</div>{% endif %}
{% if block.insight | length %}
{% for eachInsight in block.insight %}<p>{{eachInsight.insight }}</p>{% endfor %}
{% endif %}</div>{% endfor %}
{% endif %}
{% if pC.columnThree | length %}
{% for block in pC.columnThree.all() %}<div class="col col--1-of-3">{% if block.heading | length %}<div class="font-medium bold-yellow"> 
{% if block.linkPage.getUrl() | length %}<strong><a href="{{block.linkPage.getUrl()}}">{{block.heading}}</a></strong>{% else %}<strong>{{block.heading}}</strong>{% endif %}</div>{% endif %}
{% if block.insight | length %}
{% for eachInsight in block.insight %}<p>{{eachInsight.insight }}</p>{% endfor %}
{% endif %}</div>{% endfor %}
{% endif %}</div></div><div class="col col--1-of-3"></div></div>{% endif %}
{% if pC.columnHalfLeft| length or pC.columnHalfRight %}<div data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700" class="row"><div class="col col--10-of-12"><div class="row break-late {% if entry.slug == 'philanthropy' %}break-early{% elseif entry.slug == 'insight' %}break-early{% elseif entry.slug == 'policy' %}break-early{% endif %}">{% if pC.columnHalfLeft| length %}<div class="col col--6-of-12"><p>{{pC.columnHalfLeft }}</p></div>{% endif %}{% if pC.columnHalfRight| length %}<div class="col col--6-of-12"><p>{{pC.columnHalfRight }}</p></div>{% endif %}
{% if pC.pledgeButton.getUrl | length %}<a href="{{pC.pledgeButton.getUrl}}"><button class="button pledge-button"><div class="text">{{pC.pledgeButton.customText() | default('Submit yout pledge')}}</div></button></a>{% endif %}</div></div></div>{% endif %}</div>{% if pC.noSideImage == '0' %} <div class="col col--1-of-3"><div data-bg="url({{siteUrl}}build/images/three-color-venn.svg)" class="threeColorVenn lazy u-background"></div></div>{% endif %}</div></div></div></div></section>
