templates/news/index.html
{% extends '_layout' %}
{% block content %}<div class="nav-cont-outer js-sticky-nav"><div class="u-max-l u-relative">{% include '_includes/_core/_nav.html' %}</div></div>{% include '_includes/_core/_mobile-menu.html' %}
{% if entry.header %}
{% include '_includes/_matrix-includes/_home-header.html' %}
{% endif %}<section class="cream-bg news-block"><div class="u-max-l u-padding-top-l u-padding-bottom-l"><div class="u-padding-left-xs u-padding-right-xs u-relative">           <div class="u-max-m u-margin-remove-right">{% include '_includes/_news-vue.html' %}</div></div></div></section>{% include '_includes/_core/_footer.html' %}
{% endblock %}

templates/news/index.jade
| {% extends '_layout' %}
| {% block content %}

.nav-cont-outer.js-sticky-nav
    .u-max-l.u-relative
        | {% include '_includes/_core/_nav.html' %}

| {% include '_includes/_core/_mobile-menu.html' %}


| {% if entry.header %}
| {% include '_includes/_matrix-includes/_home-header.html' %}
| {% endif %}

section(class="cream-bg").news-block
    .u-max-l.u-padding-top-l.u-padding-bottom-l
        .u-padding-left-xs.u-padding-right-xs.u-relative            
            .u-max-m.u-margin-remove-right
                | {% include '_includes/_news-vue.html' %}

| {% include '_includes/_core/_footer.html' %}

| {% endblock %}
