templates/_includes/_core/_footer.html
<footer><div class="u-max-l u-padding-top-l u-padding-bottom-l"><div class="u-padding-left-xs u-padding-right-xs">        <div class="u-max-m u-margin-remove-right"><div class="row"><div class="col col--1-of-3"><div class="give-logo"><img src="{{siteUrl}}build/images/logo-white.svg" alt="Give logo"/></div></div><div class="col col--2-of-3"><div class="row"><div class="col col--1-of-3"><a href="{{contact.facebook}}"><div class="social">Facebook<img src="{{siteUrl}}build/images/fb-icon.svg" alt="Facebook icon"/></div></a></div><div class="col col--1-of-3"><a href="{{contact.instagram}}"><div class="social">Instagram<img src="{{siteUrl}}build/images/insta-icon.svg" alt="Instagram icon"/></div></a></div><div class="col col--1-of-3"><a href="{{contact.twitter}}"><div class="social">Twitter<img src="{{siteUrl}}build/images/twitter-icon.svg" alt="Twitter icon"/></div></a></div></div><div class="row"><div class="col col--1-of-3"><div class="text">Correspondence address<a href="">{{contact.correspondenceAddress}}</a></div></div><div class="col col--1-of-3"><div class="text">Registered charity number<a href="">{{contact.registeredCharityNumber}}</a></div></div><div class="col col--1-of-3"><div class="text">Email<a href="{{contact.email}}">{{contact.email}}</a></div></div></div></div></div></div></div></div></footer>

templates/_includes/_core/_footer.jade
footer
    //- img.donate-curve.u-abs(src="{{siteUrl}}build/images/donate-curve.svg", alt="donate-curve")
    .u-max-l.u-padding-top-l.u-padding-bottom-l
        .u-padding-left-xs.u-padding-right-xs         
            .u-max-m.u-margin-remove-right
                .row
                    .col.col--1-of-3
                        .give-logo
                            img(src="{{siteUrl}}build/images/logo-white.svg", alt="Give logo")
                    .col.col--2-of-3
                        .row
                            .col.col--1-of-3
                                a(href="{{contact.facebook}}")
                                    .social
                                        | Facebook
                                        img(src="{{siteUrl}}build/images/fb-icon.svg", alt="Facebook icon")
                            .col.col--1-of-3
                                a(href="{{contact.instagram}}")
                                    .social
                                        | Instagram
                                        img(src="{{siteUrl}}build/images/insta-icon.svg", alt="Instagram icon")
                            .col.col--1-of-3
                                a(href="{{contact.twitter}}")
                                    .social
                                        | Twitter
                                        img(src="{{siteUrl}}build/images/twitter-icon.svg", alt="Twitter icon")
                        .row
                            .col.col--1-of-3
                                .text
                                    | Correspondence address
                                    a(href="")
                                        | {{contact.correspondenceAddress}}
                            .col.col--1-of-3
                                .text
                                    | Registered charity number
                                    a(href="")
                                        | {{contact.registeredCharityNumber}}
                            .col.col--1-of-3
                                .text
                                    | Email
                                    a(href="{{contact.email}}")
                                        | {{contact.email}}
