templates/_includes/_core/_mega-menu.html
<div class="mega-menu js-mega-menu"><div class="inner u-max-l u-padding-remove-top"><div class="u-padding-remove-top"><div class="row matchHeightWrap">{% set links = craft.entries.section("whatWeDo").all() %}
{% for link in links %}<div class="col col--1-of-3"><a href="{{link.Url}}"><div class="inner-small {{link.colour}}">{% if link.title %}<div class="bold-lilac {{link.colour}}"><strong>{{link.title}}</strong></div>{% endif %}
{% if link.paragraph %}<div class="matchHeightColumn">{{link.paragraph}}</div>{% endif %}</div></a></div>{% endfor %}  </div></div></div></div>

templates/_includes/_core/_mega-menu.jade
.mega-menu.js-mega-menu
    .inner.u-max-l.u-padding-remove-top
        .u-padding-remove-top
            .row.matchHeightWrap
                | {% set links = craft.entries.section("whatWeDo").all() %}
                | {% for link in links %}
                .col.col--1-of-3
                    a(href="{{link.Url}}")
                        .inner-small(class="{{link.colour}}")
                            | {% if link.title %}
                            .bold-lilac(class="{{link.colour}}")
                                strong {{link.title}}
                            | {% endif %}
                            | {% if link.paragraph %}
                            .matchHeightColumn
                                | {{link.paragraph}}
                            | {% endif %}
                | {% endfor %}  
